html {
	height:100%;
	box-sizing: border-box;
}

body {
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #545454;
    background-color: #fff;
    margin: 0;
    text-align: center;
}

#top {
    padding-top: 0;
    overflow: hidden;
    background: #e0ebe8;
}

.name {
	padding-top: 90px;
	width: 500px;
}

.header-desc {
    color: #45b29a;
    padding: 1em 0;
    font-size: 180%;
}

.front-end {
	padding-bottom: 90px;
	width: 500px;
}

#projects {
	padding-bottom: 90px;
}

h3 {
	color: #1e836c;
    text-align: center;
    font-size: 3.8em;
    font-weight: 400;
}

.proj {
	width: 230px;
    height: 400px;
}

.gosakto {
	margin-right: 50px;
}

#skills {
    background: #c5ded7;
    padding-top: 10px;
}

.mar {
	margin-bottom: 0px;
}

.love {
	padding-top: 100px;
	font-size: 1.5em;
}

.vue {
	width: 800px;
}