html {
	height:100%;
	box-sizing: border-box;
}

body {
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #545454;
    background-color: #fff;
    margin: 0;
    text-align: center;
}

#top {
    padding-top: 0;
    overflow: hidden;
    background: #e0ebe8;
}

.name {
	padding-top: 90px;
	width: 600px;
}

.header-desc {
    color: #45b29a;
    padding: 1em 0;
    font-size: 180%;
}

.front-end {
	padding-bottom: 90px;
	width: 700px;
}

